<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link href="/css/calculator.css" rel="stylesheet">
    <script defer src="/js/calculator.js"></script>
</head>
<body>
    <header>
        <img class="leftImg" src="images/rock.png">
        <h1>Stone Calculator</h1>
        <img class="rightImg" src="images/rock.png">
    </header>
    <main>
        <div class="calculator">
            <div class="brand">たまごっち Tamagochi</div>
            <div class="screen">
                <div class="previous"></div>
                <div class="current"></div>
            </div>
            <div class="input">
                <div class="rowsTop">
                    <div class="row1">
                        <button id="clear">C</button>
                        <button class="operator">/</button>
                        <button class="operator">*</button>
                        <button id="backspace"><=</button>
                    </div>
                    <div class="row2">
                        <button class="number">7</button>
                        <button class="number">8</button>
                        <button class="number">9</button>
                        <button class="operator">-</button>
                    </div>
                    <div class="row3">
                        <button class="number">4</button>
                        <button class="number">5</button>
                        <button class="number">6</button>
                        <button class="operator">+</button>
                    </div>
                </div>
                <div class="rowsBottom">
                    <div class="rowsBottomLeft">
                        <div class="row4">
                            <button class="number">1</button>
                            <button class="number">2</button>
                            <button class="number">3</button>
                        </div>
                        <div class="row5">
                            <button id="zero" class="number">0</button>
                            <button id="point" class="number">.</button>
                        </div>
                    </div>
                    <div class="rowsBottomRight">
                        <button id="equal">=</button>
                    </div>
                </div>
            </div>
            <div class="make">Made in Japan</div>
        </div>
    </main>
    <footer>
        <p>2023</p>
    </footer>
</body>
</html>