<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Toys Catalogue</title>
</head>
<body>
<h1>Toys Catalogue</h1>
  <ul>
    <li><a href="/rock-paper-scissors">rock-paper-scissors</a></li>
    <li><a href="/etch-a-sketch">etch-a-sketch</a></li>
    <li><a href="/calculator">calculator</a></li>
    <li><a href="/tic-tac-toe">Tic-Tac-Toe Online</a></li>
  </ul>
</body>
</html>