<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors</title>
    <link href="/css/rps.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Rock Paper Scissors</h1>
    </header>
    <main>
        <div class="gameContainer">
            <div class="top">
                <div class="left">
                    <div class="computerName">Computer</div>
                    <div class="leftImg">
                        <div class="imgComp">
                            <img src="images/cube.png" alt="dice">
                        </div>
                    </div>
                </div>
                <div class="center">
                    <div class="score">Score</div>
                    <div class="emptySpace"></div>
                </div>
                <div class="right">
                    <div class="playerName">Human (you)</div>
                    <div class="rightImg">
                        <div class="imgPlayer">
                            <img src="images/question.png" alt="question mark" style="-webkit-transform: scaleX(1);
                            transform: scaleX(1);">
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="description">Description text</div>
                <div class="buttonsPlay">
                    <button class="buttonRock">Rock</button>
                    <button class="buttonPaper">Paper</button>
                    <button class="buttonScissors">Scissors</button>
                </div>
                <button class="resetScore">Reset score</button>
            </div>
        </div>
    </main>
    <footer>
        <p>Krya 2023</p>
        <a href="rock-paper-scissors/oldgame">Text version</a>
    </footer>
    <script src="js/rps_gameGUI.js"></script>
</body>
</html>